.formError {
    top: 0 !important;
    margin-top: -50px !important;
}
.formError .formErrorContent {
    width: 100%;
    background: #ee0101;
    position: relative;
    color: #fff;
    min-width: 7.5rem;
    font-size: 0.6875rem;
    border: 0.125rem solid #ddd;
    box-shadow: 0 0 0.375rem #000;
    -webkit-box-shadow: 0 0 0.375rem #000;
    padding: 0.25rem 0.625rem;
    border-radius: 0.375rem;
    -webkit-border-radius: 0.375rem;
    z-index: 10;
    text-align: center;
}
.formError .formErrorContent::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0 8px;
    border-color: #dddddd transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 20px;
}
.formError .formErrorContent::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #ee0101 transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 22px;
    margin-top: -2px;
}

.box__bg-img {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 20%;
}
.box__bg-img::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 85%,rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 85%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 85%,rgba(0,0,0,0.8) 100%);
    z-index: 1;
}
.paysite__bg-img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
@media(min-width: 600px) {
    .-has-bg .paysite__thumb {
        position: absolute;
        left: 12px;
        top: 0;
        border: 6px solid #363636;
        padding: 0;
        margin: 0;
        -webkit-transform: translateY(-80%);
        transform: translateY(-80%);
        max-width: 160px;
        z-index: 2;
    }
}
/* inverted colors */
.js-inverted-colors .-has-bg .paysite__thumb {
    border-color: #C9C9C9;
}
@media(min-width: 600px) {
    .-has-bg .box__bd-inner {
        padding-top: 35px;
    }
}

@media(min-width: 380px) {
    .paysite__stats {
        position: absolute;
        left: 156px;
        top: 12px;
    }
}
@media(min-width: 600px) {
    .-has-bg .paysite__stats {
        top: auto;
        bottom: 103%;
        left: 180px;
        z-index: 2;
    }
}
.paysite__stats + .paysite__bd {
    padding-top: 24px;
}
@media(min-width: 600px) {
    .-has-bg .paysite__stats + .paysite__bd {
        padding-top: 0;
    }
}
.paysite__stat {
    display: inline-block;
    vertical-align: top;
}
.paysite__stat + .paysite__stat {
    margin-left: 12px;
    padding-left: 12px;
    border-left: 1px solid #7c7c7c;
}
/* inverted colors */
.js-inverted-colors .paysite__stat + .paysite__stat {
    border-color: #C9C9C9;
}
@media(min-width: 600px) {
    .-has-bg .paysite__stat + .paysite__stat {
        padding-left: 0;
        border: 0;
    }
}
.paysite__stat .sub-label {
    font-weight: 500;
    color: #ffffff;
    margin-left: 3px;
}
/* inverted colors */
.js-inverted-colors .paysite__stat .sub-label {
    color: #333333;
}
.js-inverted-colors .-has-bg .paysite__stat .sub-label {
    color: #ffffff;
}
.paysite__stat .icon {
    margin-top: -2px;
}

.icon--delete:before, .icon.-delete:before, .icon.i-delete::before {
    font-style: normal !important;
    display: inline-block;
    content: "\e9c1";
    text-transform: none !important;
    font-weight: 400 !important;
    font-family: 'fontello';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga'; }
.icon--ok:before, .icon.-ok:before, .icon.i-ok::before {
    font-style: normal !important;
    display: inline-block;
    content: "\e9bf";
    text-transform: none !important;
    font-weight: 400 !important;
    font-family: 'fontello';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga'; }

a.addIco {
    color: #60c042;
}
a.addIco:hover {
    color: #80cd68;
}

.filter-list__li .upload__link {
    height: 34px;
    line-height: 34px;
}